<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Stack Scholar!</title>
	<link rel="icon" sizes="32x32" href="/assets/image/StackScholar_icon.jpg">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/js/stacks.js"></script>
</head>

<body>
	<div class="container">
	{{{ body }}}
	</div>
</body>

</html>